input, select {
	height: 50px;
	padding-left: 20px;
	padding-right: 20px;
	background: white;
	width: 100%;
	font-size: 16px;
	outline: 0;
	appearance: none;
	border-radius: 0;
	border: 1px solid rgb(171, 171, 171);
}

button {
	height: 50px;
	border-radius: 0;
	border: 0;
	padding-left: 20px;
	padding-right: 20px;
	font-size: 16px;
	outline: 0;
	margin-left: 10px;
	background: rgb(0, 150, 136);
    color: rgb(255, 255, 255);
}